body
{
   background: lightblue;
   line-height: 1.1;
   padding-left: 5px;
   padding-right: 5px;
}

label
{
    display: inline-block;
    font-size: 1.4em;
    min-width: 5em;
    text-align: right;
    margin-right: 10px;
}

.Form_Row label,.Form_Row span
{
    vertical-align: top;
}

input
{
    max-width: 20em;
}

.Records_Heading
{
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h1
{
    font-size: 2em;
    font-weight: 600;
}

h2
{
    font-size: 1.5em;
}

.Create_New.Button.Good
{
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.Entry_Form .Form_Element_Group
{
    display: inline-block;
    min-width: 560px;
    vertical-align: top;
    margin-top: 16px;
}

.Entry_Form .Form_Row
{
    margin-top: 5px;
}

.Entry_Form .Form_Buttons
{
    clear: both;
}

