.Data_Row
{
    display:inline-block;
    margin: 3px;
    padding: 5px;
    -moz-border-radius: 5px;
    width: 70%;
}

/* The following are children of .Data_Row */
.Heading_Item,.Data_Item
{
    display: inline-block;
    font-size: 1.2em;
}

.Heading_Item
{
    width: 15%;
    vertical-align: top;
    min-width: 9em;
    background: #FFFFAA;
    font-weight: 700;
}

.Data_Item
{
    width: 70%;
}

/* Same level as .Data_Row */
.Record_Buttons
{
    margin-top: 1em;
    display: inline-block;
    vertical-align: top;
    background: #8888FF;
    padding: 3px;
}
