.Message_Box {
  display:inline-block;
  min-width:500px;
  max-width:1200px;
  vertical-align:top;
  margin-left:20px;
  margin-top:20px;
  border-width:2px;
  border-style:solid;
  -moz-border-radius:10px 10px 0px 0px;
}
.Message_Box .Title {
  padding:10px;
  font-size:1.2em;
  font-weight:900;
  -moz-border-radius:10px 10px 0px 0px;
}
.Message_Box .Description { padding:10px; }
.Message_Box.Good { border-color:#005500; }
.Message_Box.Good .Title {
  color:#ffffff;
  background:#005500;
}
.Message_Box.Good .Description { background:#ddffdd; }
.Message_Box.Info { border-color:#000055; }
.Message_Box.Info .Title {
  color:#ffffff;
  background:#111155;
}
.Message_Box.Info .Description { background:#ddddff; }
.Message_Box.Error { border-color:#ff0000; }
.Message_Box.Error .Title {
  color:#ffffff;
  background:#ff2222;
}
.Message_Box.Error .Description { background:#ffdddd; }
.Message_Box.System {
  background:#ffff00;
  padding:10px;
  border:5px solid #000000;
}
.Message_Box.System .Title {
  color:#ffffff;
  background:#ff0000;
}
.Message_Box.System .Description { background:#ffdddd; }
.Button {
  border:3px solid #dddddd;
  padding:10px;
  color:#ffffff;
  font-size:1.5em;
  font-weight:900;
  text-decoration:none;
  -moz-border-radius:10px;
}
.Button.Small {
  border:2px solid #dddddd;
  padding:2px;
  font-size:1em;
  font-weight:900;
  text-decoration:none;
  vertical-align:top;
  -moz-border-radius:5px;
}
.Button .Button:hover { border:3px solid #ffff88; }
.Button.Small:hover { border:2px solid #ffff88; }
.Button.Info { background:#000055; }
.Button.Good { background:#005500; }
.Button:disabled { background:#bbbbbb; }
