/***************/
/* Reset Rules */
/***************/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,
abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,
strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,
label,legend,table,caption,tbody,tfoot,thead,tr,th,td
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-family: arial;
    vertical-align: baseline;
    background: transparent;
}

body
{
    line-height: 1;
}

ol,ul
{
	list-style: none;
}

blockquote,q
{
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after
{
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus
{
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins
{
	text-decoration: none;
}

del
{
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table
{
	border-collapse: collapse;
	border-spacing: 0;
}

/***********************/
/* General Global Defs */
/***********************/
.Clear
{
    clear: both;
}

.Hidden
{
    display: none;
}

.Required
{
    color: #f00;
}

.Optional
{
    display: inline-block;
    width: 9px;
}

html,body
{
    min-height: 100%;
}

/***********/
/* General */
/***********/

.Inline
{
	display: inline-block;
}

/**********/
/* Dialog */
/**********/
.mask
{
    opacity: 0.9;
    filter: alpha(opacity=90);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    z-index: 999;
    background: #bbf;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.Dialog
{
    z-index: 9999;
    background: #FFFFFF;
    border: 2px solid;
    position: fixed;
    top: 100px;
    left: 100px;
}

/***********************/
/* Message_Box, Dialog */
/***********************/
.Message_Box,.Dialog
{
    display: inline-block;
    vertical-align: top;
    border-width: 2px;
    border-style: solid;
    -moz-border-radius: 10px 10px 0px 0px;
}

.Message_Box
{
    min-width: 500px;
    width: 90%;
    margin-left: 20px;
    margin-top: 20px;
}

.Message_Box .Title,.Dialog .Heading
{
    padding: 10px;

    font-size: 1.2em;
    font-weight: 900;

    -moz-border-radius: 10px 10px 0px 0px;
}

.Message_Box .Description,.Dialog .Message
{
    padding: 10px;
}

/* Good */
.Message_Box.Good,.Dialog.Good
{
    border-color: #050;
}

.Message_Box.Good .Title,.Dialog.Good .Heading
{
    color: #FFF;
    background: #050;
}

.Message_Box.Good .Description,.Dialog.Good .Message,.Dialog.Good .Buttons
{
    background: #DFD;
}

/* Info */
.Message_Box.Info,.Dialog.Info
{
    border-color: #005;
}

.Message_Box.Info .Title,.Dialog.Info .Heading
{
    color: #FFF;
    background: #115;
}

.Message_Box.Info .Description,.Dialog.Info .Message,.Dialog.Info .Buttons
{
    background: #DDF;
}

/* Error */
.Message_Box.Error,.Dialog.Bad
{
    border-color: #F00;
}

.Message_Box.Error .Title,.Dialog.Bad .Heading
{
    color: #FFF;
    background: #F22;
}

.Message_Box.Error .Description,.Dialog.Bad .Message,.Dialog.Bad .Buttons
{
    background: #FDD;
}

/* System */
.Message_Box.System
{
    background: #FF0;
    padding: 10px;
    border: 5px solid #000;
}

.Message_Box.System .Title
{
    color: #FFF;
    background: #F00;
}

.Message_Box.System .Description,.Message_Box.System .Message,.Message_Box.System .Trace
{
	background: #FDD;
	padding: 10px;
}

/***********/
/* Buttons */
/***********/
.Button
{
    border: 3px solid #DDD;
    padding: 10px;
    color: #FFF;
    font-size: 1.5em;
    font-weight: 900;
    text-decoration: none;
    -moz-border-radius: 10px;
}

.Button:hover
{
    border: 3px solid #FF8;    
}

.Button.Info
{
    background: #005;
}

.Button.Good
{
    background: #050;
}

.Button.Bad
{
    background: #F00;
}

/**********/
/* Basics */
/**********/
code.prettyprint
{
	margin-top: 20px;
	display: inline-block;
	background: #eee;
	padding: 20px 60px;
	border: 3px dashed #000;
}

.Plain
{
	text-decoration: none;
	color: #000;
}

/***************/
/* Record_List */
/***************/

.Record_List .Heading,.Record_List .Field
{
    display: inline-block;
    font-size: 16px;
}

.Record_List .Row
{
	display: block;
    font-size: 0px;
    width: 100%;
	height: 30px;
}

.Record_List .Record .Empty
{
    background: #EDB845;
    font-size: 16px;
	height: 100%;
}

.Record_List .Record .Heading
{
    background: #FFFFAA;
    font-weight: 700;
	height: 100%;
	vertical-align: top;
}

.Record_List .Record .Field
{
	height: 100%;
	vertical-align: top;
}

/* Tab Panel */
.Tab_Panel
{
    font-size: 0px;
}

.Tab_Panel .Tab
{
    display:inline-block;
    font-size: 18px;
}

.Tab_Panel .Content
{
    font-size: 18px;
}

.Tab_Panel .Content.Inactive
{
    display: none;
}