.Section
{
    padding-top: 15px;
    padding-bottom: 5px;
}

.Section_Heading
{
    font-size: 1.5em;
    font-weight: 600;
    background: #61A9FF;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid black;
    display: inline-block;
}

.Section_Text
{
    padding-top: 10px;
}
