.Error_Container
{
    display: block;
}

.Error_Box
{
    display: inline-block;
    background: #FFBBBB;
    padding: 10px;

    -moz-border-radius: 7px;
}

.Error_Image
{
    display: inline-block;
    padding: 5px;
}

.Error_Heading
{
    display: inline-block;
    font-size: 1.5em;
}


.Error_Text
{
    padding: 5px;
    vertical-align: top;
    font-size: 1em;
}
