input
{
    max-width: 20em;
}

.Record
{
	font-size: 16px;
}

.Heading
{
	display: inline-block;
}

.Record	.Field
{
	display: inline-block;
	padding: 5px;
}

.Edit_Delete
{
	display: inline-block;
}

.Entry.Even .Heading,.Entry.Even .Field
{
	background: #DDDDDD;
}

.Entry.Odd .Heading,.Entry.Odd .Field
{
	background: #FFFFDD;
}
